<!DOCTYPE html>
<html lang="ja">
<head>
    <IfModule mod_headers.c>Header set Access-Control-Allow-Origin: "*"</IfModule>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <meta charset="UTF-8">
    <title>REALToon</title>
</head>
<body>
   <script type"text/javascript" src="pg/Post.js"></script>
   <div class="GPS_data1"></div>
   <div id="map" style="width: 400px; height: 280px;"></div>
   <script type="text/javascript" src="pg/Googlemap_api.js"></script>
</body>
</html>
